In [18]:
# IMPORTS
import pandas as pd
import numpy as np

In [19]:
# READ IN TEMPERATURE DATA

temp_data_dir = f"D:/UAF/PHYS Capstone/rwis.csv"
temp_data = pd.read_csv(temp_data_dir)

In [20]:
# CREATE DATETIME OBJECTS OUT OF DATE COL AND SET AS INDEX

temp_date_date_format_execl = '%m/%d/%Y %I:%M:%S %p'
# Apparently excel automatically changes to this format:
temp_date_date_format = '%Y-%m-%d %H:%M:%S'

print(f"temp_data['obtime'] : {temp_data['obtime']}")
print(f"Format: {temp_data['obtime'][0]}")

temp_data['obtime'] = pd.to_datetime(temp_data['obtime'], format=temp_date_date_format)
temp_data.set_index('obtime', inplace=True)
print(f'Index Type: {temp_data.index[0]}')
print(temp_data)

temp_data['obtime'] : 0         2011-11-04 03:26:00
1         2011-11-04 04:26:00
2         2011-11-04 05:26:00
3         2011-11-04 07:26:00
4         2011-11-04 08:26:00
                 ...
119873    2022-12-31 20:30:00
119874    2022-12-31 21:10:00
119875    2022-12-31 21:30:00
119876    2022-12-31 22:10:00
119877    2022-12-31 22:30:00
Name: obtime, Length: 119878, dtype: object
Format: 2011-11-04 03:26:00
Index Type: 2011-11-04 03:26:00
                    station   longitude   latitude   subf
obtime
2011-11-04 03:26:00   GERA2 -149.630661  61.277966  30.20
2011-11-04 04:26:00   GERA2 -149.630661  61.277966  30.20
2011-11-04 05:26:00   GERA2 -149.630661  61.277966  30.38
2011-11-04 07:26:00   GERA2 -149.630661  61.277966  30.38
2011-11-04 08:26:00   GERA2 -149.630661  61.277966  30.38
...                     ...         ...        ...    ...
2022-12-31 20:30:00   GERA2 -149.630661  61.277966    NaN
2022-12-31 21:10:00   GERA2 -149.630661  61.277966    NaN
2022-12-31 21:30:00   GERA2 -149.630661  61.277966    NaN
2022-12-31 22:10:00   GERA2 -149.630661  61.277966    NaN
2022-12-31 22:30:00   GERA2 -149.630661  61.277966    NaN

[119878 rows x 4 columns]

In [21]:
# CHECK NAN COUNT

num_rows = len(temp_data.index)
print(f"Entries: {num_rows}")
temp_data_dropped = temp_data.dropna()
num_rows_dropped = len(temp_data_dropped.index)
print(f"Entries after the drop: {num_rows_dropped}")

print(temp_data_dropped)

Entries: 119878
Entries after the drop: 38311
                    station   longitude   latitude   subf
obtime
2011-11-04 03:26:00   GERA2 -149.630661  61.277966  30.20
2011-11-04 04:26:00   GERA2 -149.630661  61.277966  30.20
2011-11-04 05:26:00   GERA2 -149.630661  61.277966  30.38
2011-11-04 07:26:00   GERA2 -149.630661  61.277966  30.38
2011-11-04 08:26:00   GERA2 -149.630661  61.277966  30.38
...                     ...         ...        ...    ...
2017-09-20 02:20:00   GERA2 -149.630661  61.277966  53.24
2017-09-20 03:20:00   GERA2 -149.630661  61.277966  53.60
2017-09-20 04:10:00   GERA2 -149.630661  61.277966  53.78
2017-09-20 06:20:00   GERA2 -149.630661  61.277966  54.32
2017-09-20 10:20:00   GERA2 -149.630661  61.277966  20.48

[38311 rows x 4 columns]

In [22]:
# RESAMPLE TEMPERATURE DATA

temp_data = temp_data.resample('D').mean()
print(temp_data)
temp_data.to_pickle("D:/UAF/PHYS Capstone/rwis_resampled.pickle")

             longitude   latitude       subf
obtime
2011-11-04 -149.630661  61.277966  30.493684
2011-11-05 -149.630661  61.277966  30.792500
2011-11-06 -149.630661  61.277966  29.733636
2011-11-07 -149.630661  61.277966  30.192174
2011-11-08 -149.630661  61.277966  29.330000
...                ...        ...        ...
2022-12-27 -149.630661  61.277966        NaN
2022-12-28 -149.630661  61.277966        NaN
2022-12-29 -149.630661  61.277966        NaN
2022-12-30 -149.630661  61.277966        NaN
2022-12-31 -149.630661  61.277966        NaN

[4076 rows x 3 columns]